{% load staticfiles %}

<div class="ui vertical segment">
    {% for article in article_list %}
        <div class="ui container vertical segment">
            <a href="#">
                <h1>
                    {{ article.headline }}
                </h1>
            </a>
            <i class="icon grey small unhide">100,000</i>
            <p>
                {{ article.content|truncatewords:100 }}

                <a href="#">
                    <i class="angle tiny double grey right icon">READMORE</i>
                </a>
            </p>
            <div class="ui mini tag label">
                life
            </div>
        </div>
    {% endfor %}
</div>